@font-face {
	font-family: "Anka Coder Narrow";
	font-weight: normal;
	src: url("../fonts/Anka_Coder_Narrow/AnkaCoder-C75-r.eot?#") format("embedded-opentype"),
	     url("../fonts/Anka_Coder_Narrow/AnkaCoder-C75-r.woff") format("woff"),
	     url("../fonts/Anka_Coder_Narrow/AnkaCoder-C75-r.ttf") format("truetype"),
	     url("../fonts/Anka_Coder_Narrow/AnkaCoder-C75-r.svg#AnkaCoder-C75-r") format("svg");
}

@font-face {
	font-family: "Quicksand";
	font-weight: normal;
	src: url("../fonts/Quicksand/Quicksand-Regular.eot?#") format("embedded-opentype"),
	     url("../fonts/Quicksand/Quicksand-Regular.woff") format("woff"),
	     url("../fonts/Quicksand/Quicksand-Regular.ttf") format("truetype"),
	     url("../fonts/Quicksand/Quicksand-Regular.svg#Quicksand-Regular") format("svg");
}

@font-face {
	font-family: "Quicksand";
	font-weight: bold;
	src: url("../fonts/Quicksand/Quicksand-Bold.eot?#") format("embedded-opentype"),
	     url("../fonts/Quicksand/Quicksand-Bold.woff") format("woff"),
	     url("../fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"),
	     url("../fonts/Quicksand/Quicksand-Bold.svg#Quicksand-Bold") format("svg");
}

a {
	text-decoration: inherit;
}

body {
	font-family: "Quicksand", sans-serif;
}

code {
	font-family: "Anka Coder Narrow", monospace, monospace;
}

.block {
	border-color: #eee;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin: 4px 0;
}

.title, .author, .section, .key {
	background-color: #eee;
	border-radius: 1px;
	margin: 1px;
	padding: 1px;
}

.title {
	font-size: 3.0em;
	font-weight: bold;
}

.author {
	font-size: 2.0em;
	font-weight: bold;
}

.section {
	font-size: 1.4em;
	font-weight: bold;
}

.key {
	font-size: 1.0em;
	font-weight: bold;
}

.value {
	border-radius: 1px;
	margin: 1px;
	padding: 1px;
}

.quote {
	border-radius: 1px;
	color: #555;
	margin: 1em 16px;
	padding: 1px;
	text-align: justify;
}

span[lang="de"] {
	font-style: normal;
}

span[lang=en] {
	font-style: oblique;
}

.strong::before{
	color: #777;
	content: "◆ ";
}

.normal::before{
	color: #777;
	content: "◈ ";
}

.weak::before{
	color: #777;
	content: "◇ ";
}

.article::before {
	content: "“";
}

.article::after {
	content: "”";
}

.book {
	font-style: italic;
}

.separator {
	padding-left: 0.2em;
	padding-right: 0.1em;
}

.print-media-only {
	display: none;
}

@media print {
	.block {
		page-break-inside: avoid;
	}

	.title,.author,.section {
		page-break-after: avoid;
	}

	.footnote {
		page-break-before: avoid;
	}

	.page-break-after {
		page-break-after: always;
	}

	.page-break-before {
		page-break-before: always;
	}

	.page-break-both {
		page-break-after: always;
		page-break-before: always;
	}

	.print-media-only {
		display: inherit;
	}
}
